.List {
  background-color: #f2f2f2f2;
  &-ul {
    width: 100%;
    overflow-y: scroll;
    max-height: 23.25rem;
  }

  &-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2.5em;
    border-bottom: 1px solid #d8d4d4f2;
  }

  &-span {
    font-size: 1.5em;
    transition: 0.3s ease;
  }

  &-span--line-through {
    font-size: 1.4em;
    transition: 0.3s ease;
    color: rgb(163, 161, 161);
    text-decoration: line-through;
  }

  &-container-btn {
    display: flex;
    gap: 0.625rem;
  }

  &-btn {
    cursor: pointer;
    font-size: 1.5rem;
    color: #93bfcf;
  }

  &-btn--done {
    transition: 0.3s ease;
    color: rgb(1, 135, 1);
  }

  // &-btn--edit {
  //   color: #93bfcf;
  // }

  // &-btn--remove {
  //   color: #93bfcf;
  // }
}
